body{
  text-align: center;
  background-image:url(bckgrnd.jpg);
}

h1 , h2{
  -webkit-text-stroke:2.4px black;
  color: white;
  font-family:sans-serif, Verdana, Times New Roman;
}
h1 {
    font-size:4.5em;
}

h2{
  font-size:3.3em;
}

.button {
  background:#7f8c8d;
  color:#fff;
  display:inline-block;
  font-size:1.8em;
  margin:4px;
  padding:5px 0;
  text-align:center;
  width:300px;
  text-decoration:none;
  box-shadow:0px 3px 0px #373c3c;
}

input{
  width:45%;
  height: 15%;
  border: 5px solid #aaa;
  border-radius: 3px;
}
